@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.PageWithArticleAndBreadcrumbWithCompositions>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Services;
@using Umbraco.Cms.Core.Models.PublishedContent;
@inject IUserService UserService;

@{
	Layout = "_Layout.cshtml";
    var userService = UserService;
    var image = Model.Value<IPublishedContent>("articleImage");
    
	ViewData["PageTitle"] = @Model.Value("pageTitle");
	ViewData["PageDescription"] = @Model.Value("pageDescription");
	ViewData["PageKeywords"] = @Model.Value("pageKeywords");
}

<header>
    @await Html.PartialAsync("_Navigation")
    @await Html.PartialAsync("_Breadcrumb")
</header>
<main>

    <section class="articleitem-section">
        <div class="container">
            <div class="metadata">
                <h2>@Model.Name</h2>
                <div class="article-details">
                    <span>@Model.CreateDate.ToString("MMM dd, yyyy")</span>
                    <i class="fa-solid fa-circle"></i>
                    @Model.Value("articleCategory")
                    <i class="fa-solid fa-circle"></i>
                    <span>@Model.CreatorName(UserService)</span>
                </div>
                <div class="article">
                    <div class="content">
                        <img src="@image.Url()">
                    </div>
                </div>
                
                @Model.Value("articleContent")
                
                <div class="articleTags">
                    @if(Model.HasValue("articleTags"))
                    {
                     var tags = Model.Value<IEnumerable<string>>("articleTags");

                            @foreach(var tag in tags)
                            {
                                @tag
                            }
                    }
                </div>
                
            </div>
            </div>
    </section>




</main>